body {
    padding: 100px 200px;
}

#joke,
#food {
    margin-top: 20px;
}

p {
    margin-top: 50px;
}

.circle {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    padding: 20px;
    box-shadow: 0px 0px 5px 4px rgba(123, 34, 146, 0.5);
}
.m-bottom-20{
    margin-bottom: 20px;
}